<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/estilos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/bootstrap.css') }}">
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/n">INICIO</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link" style="color: white;" href="/n">{{session['name']}}</a>
          <a class="btn btn-success" href="{{url_for('cuenta')}}" style="margin-right: 2px;">CUENTA</a>
          <a class="btn btn-primary" type="button" href="{{url_for('logout')}}">SALIR</a>
        </form>
      </div>
    </div>
  </nav>

<body>