{% include 'proyecto/cabecera.html' %}

<link href="/css/login.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body>

<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Iniciar Sesión</h3>
  
                <!-- Sign In Form -->
                <form action="/login" method="post">
                  <div class="form-floating mb-3">
                    <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Ingrese su correo">
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Ingrese su contraseña">
                    <label for="floatingPassword">Contraseña</label>
                  </div>

                  {% if message %}

                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  {% endif %}
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                    <div class="text-center">
                      <a class="small" href="{{url_for('reg')}}">Aún no tengo cuenta</a>
                    </div>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     

{% include 'proyecto/pie.html' %}