{% include 'proyecto/cabecera.html' %}

<link href="/css/registro.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body>


<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Registro</h5>
            <form action="/registro/usuario" method="post">
              <div class="form-floating mb-3">
                <input type="text" name="nu"   class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus>
                <label for="floatingInputUsername">Nombre de Usuario</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" name="email"  class="form-control" id="floatingInputEmail" placeholder="name@example.com" required autofocus>
                <label for="floatingInputEmail">Correo</label>
              </div>

              <hr>

              <div class="form-floating mb-3">
                <input type="password" name="pass"  class="form-control" id="floatingPassword" placeholder="Password" required autofocus>
                <label for="floatingPassword">Password</label>
              </div>

              {% with messages =get_flashed_messages(with_categories=True) %}
              {% if messages %}
              {% for category,message in messages %}
              {% if category=='success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success</strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% else %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endwith %}


              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Registrarse</button>
              </div>

              <a class="d-block text-center mt-2 small" href="/">Tiene una cuenta? Ingresar</a>

              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'proyecto/pie.html' %}