
{% include 'coordinador/cabecera.html' %}
<br>
<div class="container">
    <a class="navbar-brand fw-bolder" href="#">PROYECTOS ASIGNADOS</a>
    
    <!-- Tasks -->
    <div class="row row-col-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 mt-3">
        {% for task in tasks %}
    
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        {{task.titulo}}
                    </div>
                    <div class="card-body">
                        {{task.descripcion}}
                        {% set path = '/coordinador/Coordproyectos/archivos/{{task.archivo}}' %}
                        <div class="media-body">
                            <h5 class="mt-0">
                              <p>
                                <span class="namePhone">{{ foto }}</span>
                              </p>
                            </h5>
                            <section id="btns">
                              <a href="/coordinador/Coordproyectos/descargar/{{task.archivo}}" class="btn btn-info" style="margin-top: 40px;" title="Descargar Archivo">Descargar Archivo</a>
                            </section>
                          </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {{task.fecha}}
                        <form action="/delete-task" method="POST">
                            <input type="hidden" value="{{task.idproy}}" name="id">
                        </form>
                    </div>
                </div>
            </div>
    
        {% endfor %}
    </div>
    
    </div>
    
    
    <!-- Task Modal -->
    <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form action="/new-task" method="post">
            <label>Título</label>
            <input type="text" class="form-control mb-3" name="title">
            <label>Descripción</label>
            <textarea class="form-control mb-3" rows="5" name="description"></textarea>
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
         </form>
        </div>
    </div>
    </div>
    </div>

{% include 'coordinador/pie.html' %}