{% include 'coordinador/cabecera.html' %}

<br>

<div class="container">
    <div class="row">
        {% with messages =get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category,message in messages %}
        {% if category=='errorvincproy' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% elif category=='errordenegado' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error</strong>{{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
<div class="col-md-5">
    <div class="table-responsive">
        <table class="table table-bordered" >
            <thead>
                <h3><strong>PROYECTOS DE MI SEMILLERO</strong></h3>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr class="">
                    <td>{{ proyecto[1] }}</td>
                    <td>{{ proyecto[2] }}</td>
                    <td>
                        <form action="/coordinador/Coordproyectos/eventos/vincularproy" method='post'>
                            <input value='{{ proyecto[0] }}' type="hidden" name="idproy" id="">
                            <input value='{{ idevento }}' type="hidden" name="idevento" id="">  
                            <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>     
    </div>
    </div>

    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table table-bordered" >
                <thead>
                    <h3><strong>PROYECTOS VINCULADOS</strong></h3>
                    <tr>
                        <th scope="col">Evento</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Quitar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vinculado in vinculados %}
                    <tr class="">
                        <td>{{ vinculado[5] }}</td>
                        <td>{{ vinculado[2] }}</td>
                        <td>{{ vinculado[3] }}</td>
                        <td>{{ vinculado[4] }}</td>
                        <td>
                            <button class="btn btn-danger btn-sm alinear"  id="btn-edit{{vinculado[0]}}{{vinculado[1]}}" data-bs-toggle="modal" data-bs-target="#modalelim{{vinculado[0]}}{{vinculado[1]}}">Excluir</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        
    </div>



    </div>
</div>

{% for vinculado in vinculados %}
<div class="modal fade" id="modalelim{{vinculado[0]}}{{vinculado[1]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación Desvincular Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Esta seguro que desea desvincular este proyecto?
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" href="/coordinador/Coordproyectos/eventos/desvincularproy/{{vinculado [0]}}{{vinculado[1]}}" role="button" method='post'>Si</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}


{% include 'coordinador/pie.html' %}