.search{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
  }

.alinear{
  float: left;
  margin-right: 5px;
}

.colum{
  width: 10%;
}


.psearch{
  width: 50%;
}

.int{
  display: flex;
  justify-content: end;
  align-items: end;
}

.container1{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
